---
---

.h_5{
  height: 5em;
  width: auto;
}

.h_10{
  height: 10em;
  width: auto;
}

body, html {
    height: 100%;
    margin: 0;
}

.cover_page {
    /* The image used */
    background-image: url("{{"/assets/images/cover photo revised.jpeg"|relative_url}}");

    /* Full height */
    height: 85%; 
    min-height: 420px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover_title{
  max-width: 42em;
}

.w_85{
	width: 85%;
}

.bg_dark_transparent{
  background-color: rgb(52,58,64, 0.3);
}

.bg_tile_photo{
    /* The image used */
    background-image: url("{{"/assets/images/roofBackground.jpg"|relative_url}}");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#logo{
	width: 4em;
  height: 4em;
}

.icon_home_service{
  line-height: 1;
  color: #007bff;
  font-size: 1.6em;
}

.icon_navbar{
  font-size: 1.2em;
  line-height: 1;
}

#img_about_us{
  max-width: 160px;
}

.max_width_5{
  max-width: 5em; 
}

.list_style_square{
  list-style-type: square;
}

.border_bottom{
  border-bottom: 1px solid #e7e6e6;
}

.product_img{
  max-height: 200px;
  width: auto;
}
/*
.tick:before
{content:'\2713';
  display:inline-block;
  color:black;
  padding:0 6px 0 0;
  }
 */

.tick {
	height: 1.2em;
    width: 0.6em;
    border: solid #FFFFFF;
    border-width: 0px 4px 4px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: inline-block;
    margin: 5px .8em 0px 2px;
}

.tick_container{
  height: 3em;
  width: 3em;
  
}

 .shadow{
 	box-shadow: 12px 12px 6px #888888;
 }

 .shadow_red{
 	box-shadow: 6px 6px 3px #e01a22;
 }

 .overflow_wrap{
 	white-space: normal;
 }

 #img_main{ 	
 	width: 100%;
 	height: auto;
 }

 .bg_logo{
 	background-repeat: no-repeat;
 	background-image: url("{{"/assets/images/logo2.png"|relative_url}}");
 	background-size: auto 100%;
 	background-position: 3% 0%;
 }

 .required::after{
  content:" *";
  color:red;
}