---
title: "Products"
layout: "wrapper"
---

<main class="container p-5" id="product_list">
      <div class="row d-flex justify-content-center">
        <header class="pb-3 col-lg-8 col-xl-8 col-10 text-center">
          <h2 class="mb-2 font-weight-bold">Our Products</h2>
          <p class="text-muted"> TP Roofing partners with leading industry suppliers to provide only premium roofing products for all your roofing needs. Our expert roofing advice will assist you in deciding what materials will best suit your needs. </p>
        </header>
      </div>

      <div class="row">
          {% for product in site.data.products %}
            <div class="col-lg-4 col-sm-6 col-12 d-flex align-self-stretch my-3">
              <div class="w_85 bg-light border p-3 text-center">
                <img src="/assets/images/products/p1.jpeg" class="card-img-top product_img" alt="">
                <div class="card-body">
                  <h4 class="card-title"><a href="#{{product.type}}">{{product.type}}</a></h4>
                  <p class="card-text">{{product.shortdes}}</p>
                </div>           
              </div>
            </div>
          {% endfor %}
      </div>

      <div class="my-3">
        {% for product in site.data.products %}
          <div class="border_bottom p-2" id="{{product.type}}">
            <h4 class="text-primary font-weight-bold">{{product.type}}</h4>
            <div>{{product.description}}</div>
            <div class="text-right"><a href="#product_list" class="text-muted">Back to Our Products</a></div>
          </div>
        {% endfor %}
      </div>
</main>
