<footer>
	<!-- Start Information Area -->
	<section class="p-5 bg-secondary text-white d-flex flex-md-row flex-column justify-content-around">
			
			<div>					
				<h3 class="font-weight-bold">TP ROOFING</h3>
				<ul class="list-unstyled text-left">
					<li><img src="{{"/assets/images/logo.jpg" | relative_url }}" id="logo" class="p-2 bg-white" alt="TP Roofing Logo"></li>
				
					<li>Licence number: 168904C</li>
					<li>ABN: 67 111 118 631</li>
				</ul>
			</div>

			<div>					
				<h3 class="font-weight-bold">USEFUL LINKS</h3>
				<ul class="list-unstyled text-left">
					<li><a class="text-white" href="{{"/about" | relative_url }}">> About us</a></li>
					{% for service in site.data.services %}
			    		<li><a class="text-white" href="{{service.permalink | relative_url }}">> {{service.title}}</a></li>
					{% endfor %}
					<li><a class="text-white" href="{{"/testimonials" | relative_url }}">> Testimonials</a></li>
					<li><a class="text-white" href="{{"/products" | relative_url }}">> Our products</a></li>
					<li><a class="text-white" href="{{"/contact" | relative_url }}">> Get a free quote</a></li>
					
				</ul>
			</div>
			
			<div>
				<h3 class="font-weight-bold">CONTACT US</h3>				
				<ul class="list-unstyled text-left">
					<li>Phone: 02 9888 6454</li>
					<li>Fax: &nbsp&nbsp02 9888 6454</li>
					<li>Email: tp@tproofing.com.au</li>
					<li>Mail: &nbspPO Box 1074, Lane Cove NSW 1595</li>							
				</ul>			
			</div>
	</section>
	<!-- End Information Area -->

	<section class="navbar bg-dark text-white ">
		
			<small id="copyright">&copy;Copyright | {{ site.title}} All rights reserved. </small>
	</section>
	
</footer>