<footer>
	<!-- Start Information Area -->
	<section class="p-5 bg-secondary text-white row">
			
			<div class="col-md-6 col-lg-3">					
				<h3 class="font-weight-bold">TP ROOFING</h3>
				<ul class="list-unstyled text-left">
					<li class="h_5">
					<img src="{{"/assets/images/TP Roofing service roofs Sydney-wide.jpg"|relative_url}}" alt="TP Roofing service roofs Sydney-wide" class="img-fluid p-0 h-100">
					<img src="{{"/assets/images/logo.jpg" | relative_url }}" id="logo" class="p-2 bg-white ml-3" alt="TP Roofing Logo">
					</li>
				
					<li>Licence number: 168904C</li>
					<li>ABN: 67 111 118 631</li>
					<li></li>
				</ul>

			</div>

			<div class="col-md-6 col-lg-3">					
				<h3 class="font-weight-bold">USEFUL LINKS</h3>
				<ul class="list-unstyled text-left">
					<li><a hreflang="en" class="text-white" href="{{"/about-roofing-specialist-sydney" | relative_url }}">> About us</a></li>
					{% for service in site.data.services %}
			    		<li><a hreflang="en" class="text-white" href="{{service.permalink | relative_url }}">> {{service.linktext}}</a></li>
					{% endfor %}
					<li><a hreflang="en" class="text-white" href="{{"/testimonials" | relative_url }}">> Testimonials</a></li>
					<li><a hreflang="en" class="text-white" href="{{"/products" | relative_url }}">> Our products</a></li>
					<li><a hreflang="en" class="text-white" href="{{"/contact" | relative_url }}">> Get a free quote</a></li>
					
				</ul>
			</div>
			
			<div class="col-md-6 col-lg-3">
				<h3 class="font-weight-bold">CONTACT US</h3>				
				<ul class="list-unstyled text-left">
					<li>Phone: 02 9888 6454</li>
					<li>Fax: &nbsp&nbsp02 9888 6454</li>
					<li><a hreflang="en" href="{{"/contact" | relative_url }}" class="text-white">Email: tp@tproofing.com.au</a></li>
					<li>Mail: &nbspPO Box 1074, Lane Cove NSW 1595</li>							
				</ul>			
			</div>

			<div class="col-md-6 col-lg-3">
				<h3 class="font-weight-bold">GALLERY</h3>				
				<div>
					{% for photo in site.data.gallery_footer %}						
						<a hreflang="en" href="{{"/gallery" | relative_url }}"><img src="{{photo.address|relative_url}}" alt="{{photo.title}}" class="img-fluid m-1 max_width_5"></a>				
					{% endfor %}				
					<a hreflang="en" class="text-white btn btn-dark" href="{{"/gallery" | relative_url }}">More Photos >></a>			
				</div>							
			</div>
	</section>
	<!-- End Information Area -->

	<section class="navbar bg-dark text-white ">
		
			<small id="copyright">&copy;Copyright | {{ site.title}} All rights reserved. </small>
	</section>
	
</footer>