<!-- Start contact Area -->
<section class="p-5 bg-secondary text-white d-flex flex-md-row flex-column justify-content-around">
		
		<ul class="list-unstyled">
				<li class="lead">TP Roofing</li>
				<li>Licence number: 168904C</li>
				<li>ABN: 61 111 118 631</li>
		</ul>
		
		<div>
			<ul class="list-unstyled d-inline-block text-left">
				<li>Phone:</li>
				<li>Fax:</li>
				<li>Email:</li>
				<li>Mail:</li>							
			</ul>	
			<ul class="list-unstyled d-inline-block text-left">
				<li>02 9888 6454</li>
				<li>02 9888 6454</li>
				<li>tp@tproofing.com.au</li>
				<li>PO Box 1074, Lane Cove NSW 1595</li>										
			</ul>
		</div>
</section>
<!-- End contact Area -->

<footer class="navbar bg-dark text-white ">
	
		<small id="copyright">&copy;Copyright | {{ site.title}} All rights reserved. </small>
	
</footer>