---
layout: wrapper
---
<!-- Banner Area -->
<section class="cover_photo" id="home">
	<!-- Cover photo is communicating to customers -->
	<div class="cover_title mx-auto h-100 text-center p-4">
		<div class="text-white p-4 mt-md-5 mt-3">
	<!-- Our vision, a sentence that talk to our valued customer -->
			<h1 class="font-weight-bold ">QUALITY ROOF REPAIR AND ROOF REPLACEMENT</h1>
		<!-- How to achieve the vision -->
			<p class="lead "> With over <stong class="font-weight-bold lead">25</stong> years experiences, we provide prompt, reliable and personal <stong class="font-weight-bold ">roof repair</stong>, <stong class="font-weight-bold ">roof replacement</stong> and <stong class="font-weight-bold ">new roof installation</stong> services and roofing solutions at an affordable price Sydney-wide.</p>
		</div>
	</div>	
</section>
<!-- End banner Area -->	

<!-- Start Services Area -->
 <section id="services" class="py-5 bg-light" >
      <div class="container">
      <div class="row d-flex justify-content-center">
        <header class="pb-3 col-lg-8 col-xl-6 col-10 text-center">
          <h2 class="mb-2 font-weight-bold">SERVICES</h2>
          <p> All our roofing work is carried out by fully licensed and insured tradesmen in accordance with industry Occupational Health and Safety Standards.</br>
          <span class="text-primary font-weight-bold">ROOF REPAIRS ARE WARRENTIED FOR <span class="lead font-weight-bold">2</span> YEARS AND ALL NEW ROOFS HAVE A <span class="lead font-weight-bold">10</span> YEAR WORKMANSHIP GUARENTEE</span></p>
        </header>
      </div>

        <div class="row">
        	{% for service in site.data.services %}
        		<div class="col-lg-4 col-12 ">
	        		<div class="d-flex flex-row">
			            <div class="icon_home_service pr-3"><ion-icon name="{{service.icon}}"></ion-icon></div>
			            <div>
				            <h5 class="font-weight-bold">{{service.capitalname}}</h5>
				            <p class="description">{{service.shortdes}}</p>
				            <p><a hreflang="en" href="{{service.permalink | relative_url }}" class="btn btn-dark">{{service.more}} >></a>
				            </p>
			            </div>
		            </div>	            
	          </div>
        	{% endfor %}
        </div>

      </div>
 </section>
<!-- End Services Area -->

<!-- Start about-us Area -->
<section class="py-5 bg_tile_photo" id="about_us">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="pb-3 col-lg-10 text-center">
				<h2 class="mb-2 font-weight-bold text-white">ABOUT US</h2>
				<p class="text-white">We are licensed in roof tiling and roof plumbing.</p>
			</div>
		</div>	
		<div class="card-deck">
		  <!-- Roof safety -->
          <div class="card mb-2">          	
              <div class="bg-white rounded p-3">
              	<div class="card-img-top text-center">
	              	<a hreflang="en" target="_blank" href="https://hia.com.au/"><img src="{{"/assets/images/Logo-HIA.jpg" | relative_url }}" class="img-fluid h_8 mr-5" alt="TP Roofing member of HIA" ></a>
					<img src="{{"/assets/images/MTSAlogo.jpg"|relative_url}}" class=" h_8" alt="TP Roofing menber of MTSA">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center font-weight-bold text-primary">ROOF SAFETY</h5>
                  <p class="card-text">As members of the Housing Industry Association (HIA) and The Master Roof Tilers and Slaters Association, we maintain high safety standards. Our insurance policies are up to date and can be provided on request.</p>
                  <!--
                  <p><a hreflang="en" href="{{"/about#roof_safety" | relative_url }}">Read more>></a></p>-->
                </div>
              </div>
            </div>

            <!-- Monier Specialist -->
            <div class="card mb-2">          	
              <div class="bg-white rounded p-3">
              	<div class="card-img-top text-center">
	              	<a hreflang="en" target="_blank" href="http://www.monier.com.au"><img src="{{"/assets/images/Monier_RS_Logo_rgb.png" | relative_url }}" class="h_8" alt="TP Roofing Monier Roofing Specialist" ></a>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center font-weight-bold text-primary">MONIER ROOFING SPECIALISTS</h5>
                  <p class="card-text">TP Roofing were hand-picked to join the Monier Roofing Specialists, which gives us the ability to offer you Monier terracotta and concrete tiles at competitive prices.</p>
                  <!--
                  <p><a hreflang="en" href="{{"/about#monier_specialist" | relative_url }}">Read more>></a></p>-->
                </div>
              </div>
            </div>
        </div>		
        <div class="pt-3 text-right"><a hreflang="en" class="text-white btn btn-dark" href="{{"/about" | relative_url }}">More About Us >></a></div>
		<!--		
		<div class="row">
			<div class="col-lg-2 col-12 text-center ">
				<img src="{{"/assets/images/Master Roof Tilers and Slaters Association LOGO 2014.png"|relative_url}}" class="w-100" id="img_about_us">
			</div>	
			<div class="col-lg-10 col-12">
				<p>TP Roofing is a family owned and operated business established by Trent Faulkner. Trent is renowned in the industry for his honesty, integrity, hard work and experience in the field. </p>
				<p>TP Roofing are members of the Master Tilers and Slaters Association and were hand-picked to join the Monier Roofing Specialists, an elite team of roofing companies giving us the ability to offer you Monier terracotta and concrete tiles at competitive prices. Monier also provide invaluable technical product support and advice.</p>
				<p>We also ensure that we respect your property, paying particular care with your lawn and gardens, and removing all debris and waste on completion of the job.</p>
				<div><a hreflang="en" class="btn btn-dark text-white" href="{{"/about" | relative_url }}">More About Us >></a></div>
			</div>																
		</div>
		-->
	</div>	
</section>
<!-- End about-us Area -->

<!-- Start testomial Area -->
<section class="py-5 bg-light">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="pb-3 col-lg-8 col-xl-6 col-10 text-center">
				<h2 class="mb-2 font-weight-bold">TESTIMONIALS</h2>
				<p class="text-primary">Our clients include Property Managers, Strata Managers, builders and residential clients.</p>
			</div>
		</div>
							
		<div class="row">
			{% for testimonial in site.data.testimonials-3 %}
				<div class="card rounded p-4 bg-white col-12 col-md-4">
					<img class="mx-auto my-3 h_8" src="{{testimonial.photo | relative_url}}" alt="TP Roofing Testimonial from {{testimonial.where}}">
					<div class="text-secondary my-3 mx-5 mx-auto">
						{{testimonial.words}}
					</div>
					<h5 class="font-weight-bold text-center">{{testimonial.who}}</h5>
					<h6 class="text-center text-secondary">
						{{testimonial.where}}
					</h6>
				</div>
			{% endfor %}
		</div>
		<div class="text-right pt-3"><a hreflang="en" class="text-white btn btn-dark" href="{{"/testimonials" | relative_url }}">More Testimonials >></a></div>
	</div>	
</section>
		